*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);    display: flex;
    justify-content: center;
    align-items: center;
}

main.table{
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;

}

.table_header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;    
    justify-content: space-between;



}

.table_header button{
    margin-top: -6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    background-color: #d5d1defe;
    outline: none;
    border: none;
    border-radius: .8rem;
    font-size: medium;

}

.add button{
    margin-top: -6px;
    display: flex;
    margin-left: 700px;
    background-color: #d5d1defe;
    padding: 13px;
    outline: none;
    border: none;
    border-radius: .8rem;
    font-size: medium;
}
a {
    text-decoration: none;
  }


.table_body{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
}

.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-track{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 5rem;
    background-color: #0004;
    visibility: visible;
}

table{
    width: 100%;
}

table, th, td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6;

}
@media (max-width: 1000px) {
    td:not(:first-of-type){
        min-width: 12.1rem;

    }
}