body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);    height: 100vh;
    overflow: hidden;
}
fieldset{
    margin-top: 20px;
    width: 50%;
    background-color: #fffb;
    box-shadow: 5px 5px 20px 1px 10px rgb(85, 85, 85);
}