<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Add URL</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
      <center>
        <fieldset>
            <form method="POST" action="{{ url_for('add_url') }}">
                <h1>Add URL </h1>
                <hr>
                <table>
                  <tr>
                    <td>Label:</td>
                    <td><input type="text" name="label" required></td>
                  </tr>  
                  <tr>
                    <td>URL:</td>
                    <br>
                    <td><input type="text" name="url" required><br></td>
                  </tr>
                  <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"><br></td>
                  </tr>
                  <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" ></td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>
                        <select name="status" required>
                            <option value="Enabled">Enabled</option>
                            <option value="Disabled">Disabled</option>
                          </select>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <input type="submit" value="Add"><br>
                    </td>
                  </tr>
                </table>
            </form>
        </fieldset>
      </center>
    </body>
</html>