<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Edit URL</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
      <center>
        <fieldset>
            <form method="POST" action="{{ url_for('edit_url', url_id=url['_id']) }}">
                <h1>Edit URL </h1>
                <hr>
                <table>
                  <tr>
                    <td>Label:</td>
                    <td><input type="text" name="label" value="{{ url['label'] }}" required></td>
                  </tr>  
                  <tr>
                    <td>URL:</td>
                    <br>
                    <td><input type="text" name="url" value="{{ url['url'] }}" Disabled><br></td>
                  </tr>
                  <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" value="{{ url['username'] }}" ><br></td>
                  </tr>
                  <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" value="{{ url['password'] }}" ></td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>
                        <select name="status" required>
                            <option value="Enabled" {% if url['status'] == 'Enabled' %}selected{% endif %}>Enabled</option>
                            <option value="Disabled" {% if url['status'] == 'Disabled' %}selected{% endif %}>Disabled</option>
                          </select> 
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <input type="submit" value="Save"><br>
                    </td>
                  </tr>
                </table>
            </form>
        </fieldset>
      </center>
    </body>
</html>