<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Medias Stats</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    </head>
    <body>
        <main class="table">
            <section class="table_header">
                <h1>Medias Stats</h1>
                <div class="add">
                    <button type="button" > <a href="{{ url_for('add_url') }}"> ADD URL</a></button>
                </div>
                <div>                    
                    <button type="button"><a href="{{ url_for('logout') }}"> Logout </a> </button>
                </div>
            </section>
           
            <section class="table_body">
                {% if urls %}
                <table>
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>URL</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for url in urls %}
                        <tr>
                            <td>{{ url.label }}</td>
                            <td>{{ url.url }}</td>
                            <td>{{ url.status }}</td>
                            <td>
                              <a href="{{ url_for('edit_url', url_id=url['_id']) }}">Edit</a>
                              /
                              <a href="{{ url_for('delete_url', url_id=url['_id']) }}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No URLs found.</p>
                {% endif %}

            </section>
        </main>
    </body>
</html>